@font-face {
    font-family: SweetSensation;
    src: url(../fonts/sweet-sensation/sweet-sensations.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/open_sans/OpenSans-Regular.ttf);
}

body {
	font-family: OpenSans;
	background-color: #e6e6e6;
}

.formulario {
	margin-top: 5%;
	text-align: center;
}

.box {
	padding: 10%;
	background-color: #fff;
}

.subtitulo {
	font-family: OpenSans;
	font-weight: 800;
	text-transform: uppercase;
	color: #8c3265;
}

.login {
	margin-top: 10%;
}

.campoLogin {
	width: 60%;	
	padding: 5px;
	border-radius: 3px;
	background-color: #F8F5FF;
	border-style: none;
}

.botao {
	background-color: #8c3265;
	color: #e6e6e6;
	width: 20%;
	padding: 5px;
	margin-top: 10%;
	border-radius: 3px;
	border-style: none;
	box-shadow: 1px 1px 1px #8C8372;
	transition: all 0.3s;
}

.botao:hover{
	box-shadow: 2px 2px 2px 2px #8C8372;
}