/*Atenção para classes já existentes clã*/

/*nao to conseguindo pegar ela por css, se alguem conseguir consertar I'll be happy - Giulia*/
@font-face {
    font-family: SweetSensation;
    src: url(../fonts/sweet-sensation/sweet-sensations.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/open_sans/OpenSans-Regular.ttf);
}

body {
	font-family: OpenSans;
}

.formularioLogin {
	padding-bottom: 5%;
	background-color: #e6e6e6;
	text-align: center;
}

.box {
	margin-top: 15%;
	background-color: #fff;
	box-shadow: 2px 2px 2px #ccc;
	padding: 0 5% 10% 5%;
}

/*usar para qualquer subtitulo*/
.subtitulo {
	font-family: OpenSans;
	font-weight: 800;
	text-transform: uppercase;
	color: #8c3265;
	margin-top: 10%;
}

.login {
	margin-top: 10%;
}

/*eu mudei um pouco o css. quando for fazer qualquer input="text", use a classe .campo*/
.campo {	
	padding: 5px;
	border-radius: 3px;
	background-color: #F8F5FF;
	border-style: none;
}

.campoLogin {
	width: 50%;
}

/*alterei aqui tbm.*/
.botao {
	color: #e6e6e6;
	width: 18%;
	padding: 5px;
	margin-top: 10%;
	border-radius: 3px;
	border-style: none;
	box-shadow: 1px 1px 1px #8C8372;
	transition: all 0.3s;
}

.login .botao {
	background-color: #8c3265;
}

.botao:hover{
	box-shadow: 2px 2px 2px 2px #8C8372;
}

@media screen and (max-width: 600px){/*iphone*/
	.campoLogin{
		width: 100%;
	}

	.botao {
		width: 70%;
	}

}

/*inicio menu*/
.menu img {
    margin-right: 20px;
}

.menu {
    top:0;
    z-index:10;
    background: #48022a;
    width:100%;
    padding: 10px 50px 10px 50px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0;
    border-radius: 0;
}

.navegar ul {
    display: inline-block;
    margin-top: 10px;
}

.navegar li {
    display: inline-block;
    margin-left: 30px;
}

.navegar>li>a {
    text-decoration: none;
    color: #FFF;
}

.navegar a:hover {
    color: #21b697;
    border-top: 1px solid #48022a;
}

.tads {
	width: 50%;
}
/*fim menu*/

/*use quanod quiser deixar qualquer bloco <p> ou <hn> como inline*/
.textoInline {
	display: inline-block;
}

/*use para centralizar*/
.center {
	text-align: center;
}

.cadastrar .campo {
	width: 70%;
	margin-left: 10%;
}

.textoForm {
	width: 13%;
	display: inline-block;
}


.cadastrar .botao {
	background-color: #5AAD5A;
	width: 60%;
	margin-top: 70%;
	color: #fff;
	margin-left: 40%;
}

#exercicio .botao {
	margin-top: 180%;
}

.cadastrar .minititulo {
	margin-top: 10%;
}

@media screen and (max-width: 600px){/*iphone*/
	.cadastrar .campo {
		width: 100%;
		display: block;
		margin-left: 0;
	}

	.cadastrar .botao, #exercicio .botao {
		width: 50%;
		margin-top: 10%;
		margin-left: 50%;
	}
}

hr {
	margin-top: 5%;
}

.book {
	margin: 0 5px 0 5px;
}

.mostraExercicios{
	margin-top: 4%;
}

.ex {
	margin-top: 3%;
}

.author {
	margin-left: 70%;
}

.icon {
	margin-left: 20px;
	transition: all 0.5s;
}


.icon:hover {
	font-size: 20px;
}

.like:hover {
	color: green;
}

.dislike:hover {
	color: red;
}

.add:hover {
	color: #000099;
}

.acertos {
	color: green;
}

.erros {
	color: red;
}

.biggerBox {
	padding: 0 2% 5% 2%;
	margin: 5% 0 5% 0;
	background-color: #fff;
	box-shadow: 2px 2px 2px #ccc;
}

.cadastrar, .populares {
	background-color: #e6e6e6;
}

.meus .botao{
	background-color: #5AAD5A;
}