@font-face {
    font-family: SweetSensation;
    src: url(../fonts/sweet-sensation/sweet-sensations.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/open_sans/OpenSans-Regular.ttf);
}

body {
	font-family: OpenSans;
}

.formulario {
	padding-bottom: 5%;
	background-color: #e6e6e6;
	text-align: center;
}

.box {
	margin-top: 15%;
	padding: 10%;
	background-color: #fff;
	box-shadow: 1px 1px 1px #ccc;
}

.subtitulo {
	font-family: OpenSans;
	font-weight: 800;
	text-transform: uppercase;
	color: #8c3265;
}

.login {
	margin-top: 10%;
}

.campoLogin {
	width: 50%;	
	padding: 5px;
	border-radius: 3px;
	background-color: #F8F5FF;
	border-style: none;
}

.botao {
	background-color: #8c3265;
	color: #e6e6e6;
	width: 18%;
	padding: 5px;
	margin-top: 10%;
	border-radius: 3px;
	border-style: none;
	box-shadow: 1px 1px 1px #8C8372;
	transition: all 0.3s;
}

.botao:hover{
	box-shadow: 2px 2px 2px 2px #8C8372;
}

.menu img {
    margin-right: 20px;
}

.menu {
    position:fixed;
    top:0;
    z-index:10;
    background: #e6e6e6;
    width:100%;
    padding: 10px 50px 10px 50px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navegar ul {
    display: inline-block;
    margin-top: 10px;
}

.navegar li {
    display: inline-block;
    margin-left: 30px;
}

.navegar>li>a {
    text-decoration: none;
    color: #FFF;
}

.navegar a:hover {
    color: #21b697;
    border-top: 1px solid #48022a;
}

.tads {
	width: 50%;
}